
.slider {
    width: 80vw;
    height: 50vh;
    display: flex;
    overflow-x: auto;
  }
.slide {
    width: 60vw;
    flex-shrink: 0;
    height: 40vh;
}
#slide-1{
    background: url(Big5.png) no-repeat;
    background-size: 100%;
   
    margin-bottom: 10vh;
    width: 100%;
    height: 30vw;
}